body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 3rem;
}
.row-information-box {
  border-color: black;
  border-style: solid;
  margin: 2rem 0;
}

.row-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 4rem;
}
.checked-row {
  background-color: #f4f4f4;
}

.row-border:not(:last-child) {
  border-bottom: 1px solid black;
}

.row-box div {
  width: 12rem;
  padding: 2px;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  height: 1.50rem;
  width: 15rem;
  margin-right: 0.25rem;
}
.search-input:focus{
  outline: none;
}
.search-container img{
  height: 25px;
  width: 25px;
}
.search-container button{
  background-color: white;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  border: 1px black solid;
}

.input-box {
  height: 1.5rem;
  margin: 0;
  padding: 2px;
}
.input-box:focus {
  outline: 0;
  box-shadow: 0px 0.25px 8px grey;
}

.action-box {
  display: flex;
  justify-content: center;
}
.button-properties{
  margin: 2px;
  border: 1px solid black;
  background-color: #f4f4f4;
  padding: 0.5rem;
}
h4 {
  margin: 0;
}
.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.page-component {
  display: flex;
  margin: 4px;
  align-items: center;
}
.page-component button {
  margin-left: 0.5rem;
  border: 1px solid black;
  background-color: #f4f4f4;
  padding: 0.5rem;
}
